<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Github Users
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let user of users">
      <ion-thumbnail *ngIf="user.avatar_url" item-left>
        <img src="{{user.avatar_url}}">
      </ion-thumbnail>
      <h2 *ngIf="user.public_repos > 9" style="color: red">Login Name:&nbsp;&nbsp;{{user.login}}</h2>
      <h2 *ngIf="user.public_repos < 10">Login Name:&nbsp;&nbsp;{{user.login}}</h2>
      <p>
        <ion-icon ios="ios-home">&nbsp;{{user.location}}</ion-icon>&nbsp;&nbsp;&nbsp;
        <ion-icon name="people">&nbsp;{{user.followers}}</ion-icon>
      </p>
      <button ion-button clear item-right (click)="viewUser(user)">View</button>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>     -->

</ion-content>
